<template>
  <div class="container">
      <h1>account:{{account}}</h1>
      <div class="contract">
          <input  type="text" v-model="wordToSet" placeholder="Enter your message">
          <button type="button" @click="setData()">setData</button>

           <input type="number" v-model="indexToSet" placeholder="Enter index">
          <button type="button" @click="getData()">getData</button>
      </div>
      <div class="log">
        <textarea v-model="prettyLog" readonly=""></textarea>
      </div>
  </div>
</template>

<script>
import Web3 from 'web3';

import contract from 'truffle-contract';
import storageArtifact from '../../build/contracts/Storage.json';

export default {
  name: 'HelloWorld',
  data () {
    return {
      account:'Loading...',
      wordToSet:'',
      indexToSet:'',
      log:{}
    }
  },
  computed:{
    prettyLog(){
      return JSON.stringify(this.log,null,2);
    }
  },
  async created(){
    try {
      this.provider=await this.initWeb3();
      this.deployed= await this.initContractInstance(storageArtifact);
      this.account=await this.getAccount();
    } catch (error) {
      console.log('Smth went wrong:\n', error);
    }
  },
  methods:{
    initWeb3(){
      let provider;
      if(typeof web3 != 'undefined'){
        provider=web3.currentProvider;
      }else{
        provider= new Web3(new Web3.providers.HttpProvider('http://127.0.0.1:8545'));
      }
      return provider;
    },
    initContractInstance(artifact){
        return new Promise((resolve,reject)=>{
          let StorageContract=TruffleContract(artifact);
          StorageContract.setProvider(this.provider);
          StorageContract.deployed()
          .then((instance)=>{
            return resolve(instance);
          }).catch(err=>{
            return reject({name:'INIT_CONTRACT_ERR',message:`${err.name} ${err.message}`});
          });
        });
    },
    getAccount(){
      return new Promise((resolve,reject)=>{
        web3.eth.getAccounts((error,accounts)=>{
          if (error){
            return reject({name:'GET_ACCOUNTS_ERR', message:`${err.name} ${err.message}`});
          }
          if(accounts.length===0){
            return reject({name:'NO_ACCOUNTS', message:`${err.name} ${err.message}`});
          }
          return resolve(accounts[0]);
        });
      });
    },
    setData(){
      this.deployed.set(this.wordToSet,{from:this.account})
      .then(result=>{
        this.log=result
      }).catch(err=>{
        this.log({name:'INTERACTION_CONTRACT_ERR', message:`${err.name} ${err.message}`})
      })
    },
      getData(){
      this.deployed.get(this.indexToSet,{from:this.account})
        .then(result=>{
          this.log=result
        }).catch(err=>{
          this.log({name:'INTERACTION_CONTRACT_ERR', message:`${err.name} ${err.message}`})
        })
    },


  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
textarea{
  width: 1000px;
  height: 400px;
  background-color: #d0d0d0d0;
  font-size: 16px;
}
</style>
